{% extends 'projects/projects-view.html' %}
{% block simple_search %}
    <div class="d-flex justify-content-end">
        {% include 'partial/simple_search.html' %}
    </div>
{% endblock %}
{% block links %}
    {% if user.is_authenticated %}
        {% if perms.tracker_app.add_project %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'tracker_app:project-create' %}">Создать проэкт</a>
            </li>
        {% endif %}
        {% if perms.tracker_app.add_task and request.user in object.users.all %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'tracker_app:task-create' object.pk %}">Добавить
                    задачу</a>
            </li>
        {% endif %}
        {% if perms.accounts.accounts_list %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page"
                   href="{% url 'accounts:accounts-list' %}">Саисок пользователей</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               href="{% url 'accounts:profile' request.user.pk %}">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:registration' %}">Регистрация</a>
        </li>
    {% endif %}
{% endblock %}
{% block description %}
    <div class="container">
        <h1>{{ object.name }}</h1>
        <h3>Описание:</h3>
        <p>{{ object.description }}</p>
        <p>Дата создания: {{ object.created_at }}</p>
        {% if object.end_date %}
            <p>Дедлайн: {{ object.end_date }}</p>
        {% endif %}
        <p>Участники проэкта:
            {% for user in object.users.all %}
                <a href="{% url 'accounts:profile' user.pk %}">{{ user }}</a>{% if not forloop.last %}, {% else %}.
            {% endif %}
            {% endfor %}
        </p>
        {% if perms.tracker_app.add_users and request.user in object.users.all %}
            <a class="btn btn-danger" href="{% url 'tracker_app:add-users' object.pk %}">Редактировать участников</a>
        {% endif %}
        <br>
    </div>
{% endblock %}
{% block content-title %}
    <h3 class="mt-4 mb-0 fw-bold fs-2">Задачи проэкта</h3>
{% endblock %}
{% block card %}
    {% for obj in object_list %}
        {% include 'partial/task_card.html' with change=perms.tracker_app.change_task delete=perms.tracker_app.delete_task project=object view_url='tracker_app:task-view' update_url='tracker_app:task-update' delete_url='tracker_app:task-delete' %}
    {% endfor %}
{% endblock %}
