{% extends 'base.html' %}
{% block simple_search %}
    <div class="d-flex justify-content-end">
        {% include 'partial/simple_search.html' %}
    </div>
{% endblock %}
{% block links %}
    {% if user.is_authenticated %}
        {% if perms.tracker_app.add_project %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'tracker_app:project-create' %}">Создать проэкт</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'tracker_app:tasks-view' %}">Все задачи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:registration' %}">Регистрация</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="mt-5">
            {% block description %}{% endblock %}
            {% block content-title %}
                <h3 class="mt-4 mb-0 fw-bold fs-2">Проэкты</h3>
            {% endblock %}
            <hr class="text-danger mt-1">
            <div class="row justify-content-start">
                {% block card %}
                    {% for project in projects %}
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="card h-100 ">
                                <div class="d-flex card-header bg-danger text-light">
                                    <span class="flex-grow-1"><a class="text-reset"
                                                                 href="{% url 'tracker_app:project-view' project.pk %}">{{ project.name }} ({{ project.start_date }})</a></span>
                                    {% if perms.tracker_app.change_project %}
                                        <a class="text-reset"
                                           href="{% url 'tracker_app:project-update' project.pk %}"><i
                                                class="fs-4 ms-2 fas fa-edit"></i></a>
                                    {% endif %}
                                    {% if perms.tracker_app.delete_project %}
                                        <a class="text-reset"
                                           href="{% url 'tracker_app:project-delete' project.pk %}"><i
                                                class="fs-4 ms-2 fas fa-trash-alt"></i></a>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ project.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}