{% extends 'projects/projects-view.html' %}
{% block simple_search %}
    <div class="d-flex justify-content-end">
        {% include 'partial/simple_search.html' %}
    </div>
{% endblock %}
{% block links %}
    {% if user.is_authenticated %}
        {% if perms.tracker_app.add_project %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'tracker_app:project-create' %}">Создать проэкт</a>
            </li>
        {% endif %}
        {% if perms.tracker_app.add_task and request.user in object.users.all %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'tracker_app:task-create' object.pk %}">Добавить
                    задачу</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:registration' %}">Регистрация</a>
        </li>
    {% endif %}
{% endblock %}
{% block description %}
    <div class="container">
        <h1>{{ object.name }}</h1>
        <h3>Описание:</h3>
        <p>{{ object.description }}</p>
        <p>Дата создания: {{ object.start_date }}</p>
        {% if object.end_date %}
            <p>Дедлайн: {{ object.end_date }}</p>
        {% endif %}
        <br>
    </div>
{% endblock %}
{% block content-title %}
    <h3 class="mt-4 mb-0 fw-bold fs-2">Задачи проэкта</h3>
{% endblock %}
{% block card %}
    {% for task in object_list %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 ">
                <div class="d-flex card-header bg-danger text-light">
                    <span class="flex-grow-1"><a class="text-reset"
                                                 href="{% url 'tracker_app:task-view' task.pk %}">{{ task.summary }} ({{ task.status }})</a></span>
                    {% if perms.tracker_app.change_task and request.user in object.users.all %}
                        <a class="text-reset" href="{% url 'tracker_app:task-update' task.pk %}"><i
                                class="fs-4 ms-2 fas fa-edit"></i></a>
                    {% endif %}
                    {% if perms.tracker_app.delete_task and request.user in object.users.all %}
                        <a class="text-reset" href="{% url 'tracker_app:task-delete' task.pk %}"><i
                                class="fs-4 ms-2 fas fa-trash-alt"></i></a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ task.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
