{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock title %}
{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:account-change" %}">Редактировать профиль</a>
    </li>
{% endblock links %}
{% block content %}
    <div class="container">
        <h1>Смена пароля</h1>
        <hr class="text-danger mt-1">
        <form method="post">
            {% include 'partial/form.html' with button_text='Сохранить' %}
        </form>
    </div>
{% endblock content %}