{% extends 'base.html' %}
{% block simple_search %}
    <div class="d-flex justify-content-end">
        {% include 'partial/simple_search.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <div class="mt-5">
        <h3 class="mt-4 mb-0 fw-bold fs-2">Задачи</h3>
        <hr class="text-danger mt-1">
          <div class="row justify-content-start">
              {% for task in tasks %}
                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="card h-100 ">
                    <div class="d-flex card-header bg-danger text-light">
                        <span class="flex-grow-1"><a class="text-reset" href="{% url 'task-view' task.pk %}">{{ task.summary }} ({{ task.updated_at }})</a></span>
                        <a class="text-reset" href="{% url 'task-update' task.pk %}"><i class="fs-4 ms-2 fas fa-edit"></i></a>
                        <a class="text-reset" href="{% url 'task-delete' task.pk %}"><i class="fs-4 ms-2 fas fa-trash-alt"></i></a>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{ task.description }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}