{% extends 'base.html' %}
{% block simple_search %}
    <div class="d-flex justify-content-end">
        {% include 'partial/simple_search.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="mt-5">
            <h3 class="mt-4 mb-0 fw-bold fs-2">Задачи</h3>
            <hr class="text-danger mt-1">
            <div class="row justify-content-start">
                {% for obj in tasks %}
                    {% include 'partial/task_card.html' with change=perms.tracker_app.change_task delete=perms.tracker_app.delete_task project=obj.project view_url='tracker_app:task-view' update_url='tracker_app:task-update' delete_url='tracker_app:task-delete' %}
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}