{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{  task.summary }} ({{ task.status }})</h1>
        <h3>Описание:</h3>
        <p>{{ task.description }}</p>
        <p>Тип:
            {% for type in task.type.all %}
                    {{ type }}{% if not forloop.last %}, {% else %}. {% endif %}
            {% endfor %}
        </p>
        <p>Дата создания: {{ task.created_at }}</p>
        <p>Дата изменения: {{ task.updated_at }}</p>
        <br>
        <p><a href="{% url "projects-index" %}" class="btn btn-outline-dark">На главную</a></p>
    </div>
{% endblock %}